
/* index.css */

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-item {
    display: none;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.carousel-item.active {
    display: block;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

