@{
    ViewBag.Title = "About Us";
}
<link href="~/Content/customcss/aboutus.css" rel="stylesheet" />

<h1>About us</h1>
<section class="about-content">
    <div class="about-card">
        <img src="~/content/images/aboutus/man-working-laptop.jpg" alt="CineTickets" class="about-image" />
        <div class="about-text">
            <h3>Welcome to CineTickets!</h3>
            <p>
                CineTickets is your go-to platform for booking movie tickets quickly and easily. Our mission is to enhance your movie-watching experience by providing a seamless and user-friendly interface for ticket booking. Whether you're planning a night out with friends or a family movie day, we've got you covered with the latest movie listings and available showtimes.
            </p>
            <p>
                With CineTickets, you can:
            </p>
            <ul>
                <li>Browse and search for movies currently showing in theaters.</li>
                <li>Choose your preferred showtimes and seats.</li>
                <li>Enjoy a hassle-free booking process.</li>
            </ul>
            <p>
                Join us today and make your movie nights unforgettable with CineTickets!
            </p>
        </div>
    </div>
</section>

